.skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width:900px) {
    .contact{
        flex-direction: column !important;
    }   
    .left_contect,.r_contect{
        width: 100% !important;
    }
}
@media screen and (max-width: 640px){
    .contact{
        flex-direction: column;
    }
    .left_contect,.r_contect{
        width: 100% !important;
    }
    
    input{
        padding: 8px !important;
    }
    .list{
        gap: 20px !important;
    }
    .item a{
        font-size: 20px !important;
    }
    .s_container{
        flex-direction: column !important;
    }
    .skill_pera{
        width: 100% !important;
    }
    .skills{
        grid-template-columns: repeat(2, 1fr);
        width: 100% !important;
    }
    .main{
        flex-direction: column-reverse;
    }
    .main .left{
        padding: 10px !important;
        width: 100% !important;

    }
    .main .right{
        padding: 10px !important;
        width: 100% !important;
    }
}
.cert_card{
    &:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
}
.hero{
    position: relative;
    animation: anim 4s ease-in-out  infinite  ;
}
@keyframes anim {
    0%{
        top: -1rem;
    }
    50%{
        top: 1rem;
    }
    100%{
        top: -1rem;
    }
}